$font-family-arial: "Arial", sans-serif;
$color-white: #fff;
$color-black: #000;
$color-yellow: #ffcb78;
$color-brown: #834700;
$color-darkest-gray: #1b1b1b;
$color-dark-gray: #404040;
$color-medium-gray: #999;
$color-gray: #444;
$color-light-gray: #ede5d8;
$color-lightest-gray: rgba(0, 0, 0, 0.3);
